body{
    background-color: rgba(128, 128, 128, 0.301);
}



.day{

   
    .paintball{
        width: 100%;
        padding: 20px 20px;
        box-shadow: 0 0 20px 5px rgba(0, 0, 0, 0.316);
        border-radius: 4px ;
        background-color: #fff;
        // margin-top: 50px;
        p{
            font-family: sans-serif;
            font-weight: 300;
        }
     
        
    }
    .day-img{
        width: 100%;
    }
    .carting{
        width: 100%;
        width: 100%;
        padding: 20px 20px;
        box-shadow: 0 0 20px 5px rgba(0, 0, 0, 0.316);
        border-radius: 4px ;
        background-color: #fff;
        margin-top: 20px;
        p{
            font-family: sans-serif;
            font-weight: 300;
        }
    }
    .carting-img{
        margin-top: 50px;
    }

    .tenis{
        width: 100%;
        padding: 20px 20px;
        box-shadow: 0 0 20px 5px rgba(0, 0, 0, 0.316);
        border-radius: 4px ;
        background-color: #fff;
        
        p{
            font-family: sans-serif;
            font-weight: 300;
        }
     
    }
    
    .bowling-img{
        img{
            margin-top: 30px;
        }
    }
    .bowling{
        width: 100%;
        padding: 20px 20px;
        box-shadow: 0 0 20px 5px rgba(0, 0, 0, 0.316);
        border-radius: 4px ;
        background-color: #fff;
        
        p{
            font-family: sans-serif;
            font-weight: 300;
        }
    }
    .velo{
        width: 100%;
        padding: 20px 20px;
        box-shadow: 0 0 20px 5px rgba(0, 0, 0, 0.316);
        border-radius: 4px ;
        background-color: #fff;
        
        p{
            font-family: sans-serif;
            font-weight: 300;
        }
    }
    .velo-img{
        margin-top: 50px;
    }
   
    .dağ{
        width: 100%;
        padding: 20px 20px;
        box-shadow: 0 0 20px 5px rgba(0, 0, 0, 0.316);
        border-radius: 4px ;
        background-color: #fff;
        
        p{
            font-family: sans-serif;
            font-weight: 300;
        }
    }
    .dağ-img{
        margin-top: 50px;
    }
    .parachute-img{
        margin-top: 50px;
    }
    .parachute{
        width: 100%;
        padding: 20px 20px;
        box-shadow: 0 0 20px 5px rgba(0, 0, 0, 0.316);
        border-radius: 4px ;
        background-color: #fff;
        
        p{
            font-family: sans-serif;
            font-weight: 300;
        }
    }

    
}



